.education-card-list{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.education-card{
  position: relative;
  background-color: var(--box-bg);
  border: 1px solid var(--box-border-clr);
  padding: 20px;
  border-radius: 12px;
}

.view-mode .education-card__delete-btn{
  display: none;
}

.education-card__top-area{
  display: flex;
  justify-content: space-between;
}

.education-card__title{
  font-size: var(--experience-title-txt);
  letter-spacing: -.02em;
  line-height: 1.5em;
  margin-bottom: 5px;
}

.education-card__institution{
  font-size: var(--experience-company-txt);
  line-height: 1.5em;
  color: var(--text-color-2);
  font-weight: 500;
}

.education-card__date-range{
  background-color: rgb(31, 31, 31);
  border: 1px solid var(--box-border-clr);
  border-radius: 4px;
  padding: 6px 12px;
  word-wrap: nowrap;
  text-wrap: nowrap;
  white-space: nowrap;
  font-weight: 500;
  font-size: var(--education-details-and-year-txt);
  height: fit-content;
}

.education-card__line{
  height: 1px;
  width: 100%;
  background-color: var(--box-border-clr);
  margin: 10px 0;
}

.education-card__details{
  font-size: var(--education-details-and-year-txt);
  font-weight: 500;
  color: var(--text-color-2);
  line-height: 1.6em;
}

.view-mode .education-card-list__add-education-btn{
  display: none;
}


/* ============================================================================
                                 EDIT MODE
  ============================================================================= */
.edit-mode .education-card-list__add-education-btn{
  display: inline-block;
  padding: 15px 5px;
  border-radius: 3px;
}

.edit-mode .education-card__delete-btn{
  background: none;
  top: -14px;
  right: -5px;
  font-size: 1.6rem;
  border: none;
  position: absolute;
}

.edit-mode .education-card__top-area{
  flex-direction: column;
  gap: 7px;
}

.edit-mode .education-card__title{
  width: fit-content;
  margin-bottom: 7px;
}

.edit-mode .education-card__program{
  padding: 7px 10px;
  width: fit-content;
  line-height: 2.8em;
}

.edit-mode .education-card__date-range{
  width: fit-content;
}


@media(width >= 600px){
  .edit-mode .education-card__top-area{
    flex-direction: row;
  }
}
