#experience-section {
  padding-top: 10px;
}

.experience-cards-list{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.experience-card{
  background-color: var(--box-bg);
  border: 1px solid var(--box-border-clr);
  border-radius: 12px;
  padding: 16px 24px;
}

.experince-card__top-area{
  display: flex;
  flex-direction: column;
  gap: 10px
}

.experince-card__img-title-container{
  display: flex;
  align-items: center;
  gap: 16px;
}

.experience-card__icon{
  --size: 24px;

  width: var(--size);
  height: var(--size);
}

.experience-card__title{
  font-size: var(--experience-title-txt);
  line-height: 1.6em;
  font-weight: 600;
}

.experience-card__company{
  font-size: var(--experience-company-txt);
  font-weight: 500;
  color: var(--text-color-2);
  line-height: 1.6em;
}

.experience-card__date-range{
  border: inherit;
  background-color: rgb(25, 25, 25);
  border-radius: 4px;
  border: 1px solid var(--box-border-clr);
  width: fit-content;
  padding: 6px 12px;
  flex-wrap: nowrap;
  font-weight: 500;
  font-size: var(--experience-details-and-year-txt);
  height: fit-content;
}

.experience-card__line{
  margin: 11px 0;
  background-color: var(--box-border-clr);
  width: 100%;
  height: 1px;
}

.experience-card__details{
  font-size: var(--experience-details-and-year-txt);
  line-height: 1.6em;
  font-weight: 500;
  color: var(--text-color-2);
}


@media(width >= 500px){
  .experince-card__top-area{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}