.projects-card-container{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.project-list,
.more-projects-list{
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px
}

.more-projects-list.hide{
 display: none;
}

.project-card{
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: var(--box-bg);
  padding: 16px;
  padding-bottom: 17px;
  border-radius: 12px;
}

.project-card__img-container{
  position: relative; 
  border-radius: 12px;
}

.view-mode .project-card__img-container--input-icon{
  display: none;
}

.project-card__img{
  margin-bottom: 10px;
  border-radius: 12px;
}

.project-card__details{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.project-card__title{
  font-size: var(--project-title-txt);
  color: var(--text-color);
  font-weight: 600;
  line-height: 1.4em;
  margin-bottom: 5px;

}

.project-card__type{
  font-size: var(--project-details-txt);
  color: var(--text-color-2);
  font-weight: 500;
}

.project-card__arrow{
  position: relative;
  padding: 23px 23px;
  background-color: rgb(31, 31, 31);
  border: 1px solid var(--box-border-clr);
  width: fit-content;
  border-radius: 50%;
  overflow: hidden;
}

.project-card__arrow--icon{
  position: absolute;
  color: var(--text-color-2);
  font-weight: 600;
  font-size: 1.3rem;
  transform: translate(-50%, -50%);
  transition: 0.25s;
}

.project-card__arrow--icon.one{
  top: 50%;
  left: 50%;
}

.project-card__arrow--icon.two{
  top: 115%;
  left: -15%;
}

.project-card:hover .project-card__arrow--icon.one{
  top: -15%;
  left: 115%;
}
.project-card:hover .project-card__arrow--icon.two{
  top: 50%;
  left: 50%;
}

.view-mode .profile-card__input-link{
  display: none;
}

.projects-card-container__load-more-btn{
  margin-top: 30px;
  margin-inline: auto;
  display: block;
  background-color: rgb(68, 68, 68);
  color: var(--text-color);
  border-radius: 10px;
  padding: 10.7px 16px;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  border: none;
}

.projects-card-container__load-more-btn.hide{
  display: none;
}

.view-mode .projects-card-container__add-project-btn{
  display: none;
}

/* ============================================================================
                                 EDIT MODE
  ============================================================================= */
.edit-mode .project-list,
.edit-mode .more-projects-list{
  gap: 20px
}

.edit-mode .project-card__delete-btn{
  font-size: 1.3rem;
  position: absolute;
  z-index: 10;
  top: 0%;
  right: -13px;
  transform: translate(-50%, -50%);
  background: transparent;
  border: none;
}

.edit-mode .more-projects-list.hide{
 display: grid;
}

.edit-mode .projects-card-container__load-more-btn{
  display: none;
}

.edit-mode .project-card__img-container--input-icon{
  width: fit-content;
  margin-left: auto;
  display: block;
  margin-bottom: 3px;
  padding-right: 3px;
  cursor: pointer;
}

.edit-mode .projects-card-container__add-project-btn{
  display: inline-block;
  padding: 100px 8px;
  border-radius: 6px;
  font-size: 1.4rem;
}

.edit-mode .project-card__arrow{
  display: none;
}

.edit-mode .project-card__details{
  flex-direction: column;
  align-items:flex-start;
  justify-content: left;
  gap: 7px
}

.edit-mode .project-card__details--name-and-about{
  width: 100%;
}

.edit-mode .project-card__type{
  padding: 10px ;
}

@media(width >= 700px){
  .project-list,
  .more-projects-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px
  }
}

@media(width >= 1200px){
  .project-card__img{
    max-height: 330.11px;
  }
}
