.contact-section-content{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-card-list{
  width: 100%;
}

#email-form{
  width: 100%;
}

.contact-card-list{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contact-card{
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: var(--box-bg);
  border-radius: 8px;
  padding: 12px;
}

.contact-card-icon{
  font-size: 1.5rem;
  color: var(--accent-color);
}

.contact-card__label{
  font-size: var(--contact-label-txt-size);
  line-height: 1.6em;
  color: var(--text-color-2);
  font-weight: 500;
}

.contact-card__value{
  font-size: var(--contact-value-txt-size);
  line-height: 1.6em;
  font-weight: 500;
}

.contact-card__value:hover{
  color: var(--accent-color);
  text-decoration: underline;
}

#email-form{
  display: flex;
  gap: 12px;
  flex-direction: column;
}

input, textarea{
  width: 100%;
  background-color: var(--box-bg);
  border: 1px solid var(--box-border-clr);
  padding: 12px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--text-color);
}

input::placeholder, 
textarea::placeholder{
  color: rgb(102, 102, 102);;
}

input:focus,
textarea:focus{
  outline: 1px solid var(--accent-color);
  border: 1px solid var(--accent-color);
}

textarea{
  height: 150px;
}

#email-form__submit-btn{
  background-color: var(--accent-color);
  border: none;
  height: 40px;
  font-size: var(--form-btn-txt);
  border-radius: 12px;
  font-weight: 500;
}

@media(width >= 810px){
  .contact-section-content{
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .profile-card__name{
    text-align: center;
  }

  .profile-card__social-list{
    justify-content: center;
  }
}
