:root{
  --accent-color: rgb(40, 233, 140);
  --bg-color: #000000;
  --box-bg: rgb(16, 16, 16);
  --box-border-clr: rgb(48, 48, 48);
  --text-color: white;
  --text-color-2: rgb(190, 190, 190);

  --available-txt-size: 16px;
  --name-txt-size: clamp(24px, 7vw, 28px);
  --dlcb-and-contact-txt-size: 14px;

  --section-label-txt-size: clamp(18px, 5vw, 24px);
  --greetings-and-adress-txt-size: clamp(30px, 5vw, 52px);
  --skill-txt-size: clamp(30px, 4.7vw, 48px);
  --about-me-txt-size: 1rem;

  --achivement-number-txt: 30px;
  --achivement-label-txt: clamp(14px, 4vw, 16px);

  --experience-title-txt: clamp(18px, 4vw, 20px);
  --experience-company-txt: clamp(13px, 3vw, 14px);
  --experience-details-and-year-txt: 16px;

  --project-title-txt: clamp(18px, 4.5vw, 24px);
  --project-details-txt: clamp(13px, 3vw, 14px);

  --education-title-txt: clamp(18px, 10vw, 20px);
  --education-school-txt: clamp(13px, 10vw, 14px);
  --education-details-and-year-txt: 16px;

  --tools-name-txt: clamp(18px, 2vw, 20px);
  --tools-about-txt: clamp(13px, 2vw, 14px);

  --gets-in-touch-txt-size: clamp(24px, 20vw, 28px);
  --contact-label-txt-size: clamp(13px, 2vw, 14px);
  --contact-value-txt-size: 16px;
  --contact-input-txt-size: 16px;
  --form-btn-txt: clamp(13px, 2vw, 14px);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}

img{
  width: 100%;
}

a{
  text-decoration: none;
  cursor: pointer;
  color: black;
}

button{
  cursor: pointer;
}

html{
  height: fit-content;
}

body{
  font-family: "Space Grotesk", "Space Grotesk Placeholder", sans-serif;
  background-color: var(--bg-color);
  transition: 0.3s;
  color: var(--text-color);
}

.main-wrapper{
  --wrapper-max-width: 1355px;
  --wrapper-padding: 40px;

  position: relative;
  width: min(var(--wrapper-max-width), 100% - var(--wrapper-padding));
  min-height: 100%;
  margin-inline: auto;
  padding-top: 70px;
}

.edit-button{
  position: absolute;
  top: 20px;
  right: 0;
  width: fit-content;
  display: block;
  padding: 5px 23px;
  border-radius: 5px;
  border: none;
  background-color:var(--accent-color);
}

section{
  margin-bottom: 85px;
}

.section-label{
  display: flex;
  gap: 12px;
  align-items: center;
  width: fit-content;
  margin-bottom: 22px;
  font-weight: 500;
}

.section-label--icon{
  --size: 24px;

  height: var(--size);
  width: var(--size);
}

.section-label--txt{
  font-size: var(--section-label-txt-size);
}


@media(width >= 1200px){
  .main-wrapper{
    display: flex;
    gap: 70px;
  }
}
