:root{
  --accent-color: rgb(40, 233, 140);
  --bg-color: #000000;
  --box-bg: rgb(16, 16, 16);
  --box-border-clr: rgb(48, 48, 48);
  --text-color: white;
  --text-color-2: rgb(194, 194, 194);

  --available-txt-size: 16px;
  --name-txt-size: clamp(24px, 20vw, 28px);
  --dlcb-and-contact-txt-size: 14px;

  --section-label-txt-size: clamp(18px, 10vw, 24px);
  --greetings-and-adress-txt-size: clamp(30px, 30vw, 52px);
  --skill-txt-size: 30px;
  --about-me-txt-size: 16px;

  --achivement-year-txt: 30px;
  --achivement-label-txt: 16px;

  --experience-title-txt: clamp(18px, 10vw, 20px);
  --experience-company-txt: clamp(13px, 10vw, 14px);
  --experience-details-and-year-txt: 16px;

  --project-title-txt: clamp(18px, 10vw, 24px);
  --project-details-txt: clamp(13px, 10vw, 14px);

  --education-title-txt: clamp(18px, 10vw, 20px);
  --education-school-txt: clamp(13px, 10vw, 14px);
  --education-details-and-year-txt: 16px;

  --tools-name-txt: clamp(18px, 10vw, 24px);
  --tools-about-txt: clamp(13px, 10vw, 14px);

  --gets-in-touch-txt-size: clamp(24px, 20vw, 28px);
  --contact-label-txt-size: clamp(13px, 10vw, 14px);
  --contact-value-txt-size: 16px;
  --contact-input-txt-size: 16px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}

img{
  width: 100%;
}

a{
  text-decoration: none;
  color: black;
  cursor: pointer;
}

button{
  cursor: pointer;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  transition: 0.3s;
}
